<h2>Shopping List</h2>
<hr>
<div class="row">
	<div class="col-xs-10">
		<app-shopping-list-create-edit></app-shopping-list-create-edit>
		<hr>
		<ul *ngIf="ingredients.length > 0; else noIngredients"
			class="list-group">
			<a *ngFor="let ing of ingredients; let i = index"
			   class="list-group-item"
			   style="cursor: pointer;"
			   (click)="onItemSelected(i)">
				{{ ing.Name }} ({{ ing.Amount }})
			</a>
		</ul>
		<ng-template #noIngredients>No ingredients in list.</ng-template>

	</div>
</div>